<div class="main">

    <div class="shape">
        <div class="item">
            <p>基础元素</p>
            <div class="eles">
                <div (click)="setMode(item.mode)" class="ele" *ngFor="let item of BaseEles" [ngClass]="item.mode == this.canvasEditor.canvasEvent.currentMode ? 'selected' : ''">
                    <img [src]="item.iconSrc" />
                </div>
            </div>
        </div>

        <div class="item">
            <p>形状</p>
            <div class="eles">
                <div  draggable="true" (dragstart)="setMode(item.mode)"class="ele" *ngFor="let item of DragEles" [ngClass]="item.mode == this.canvasEditor.canvasEvent.currentMode ? 'selected' : ''">
                    <img [src]="item.iconSrc" />
                </div>
            </div>
        </div>

    </div>


    <div class="canvasContainer">
        <canvas id="canvas" class="canvas"></canvas>
    </div>




</div>