<main>
  <div class="item">
    <span>id :</span>
    <input nz-input [(ngModel)]="_klass.c_code" (ngModelChange)="customChange('c_code', $event)" />
  </div>
  <div class="item">
    <span>名称 :</span>
    <input nz-input [(ngModel)]="_klass.c_name" (ngModelChange)="customChange('c_name', $event)" />
  </div>
  <div class="item">
    <span>起始里程标 :</span>
    <input nz-input [(ngModel)]="_klass.c_start" (ngModelChange)="customChange('c_start', $event)" />
  </div>
  <div class="item">
    <span>结束里程标 :</span>
    <input nz-input [(ngModel)]="_klass.c_end" (ngModelChange)="customChange('c_end', $event)" />
  </div>
  <div class="item">
    <span>颜色</span>
    <!-- <app-schedule-select-color [color]="color" (sentColor)="getChangeColor($event)"> </app-schedule-select-color> -->
  </div>
  <div class="item">
    <span>元素层级</span>
    <nz-input-number [(ngModel)]="_klass.zIndex" [nzStep]="1" (ngModelChange)="zIndexChange($event)"></nz-input-number>
  </div>
</main>
